





<div class="div3" id="div3">

    <div class="title">What size is your room?</div>

    <div class="d-flex  flex-wrap justify-content-center" id="contentDiv" >

        <div class="check-div">
            <input type="checkbox" class="ui-checkbox image-div" onchange="Chek_image(this)" data-step="step3"  data-valeur="0" data-index="0">
            <label>small < 50 sq.ft</label>
        </div>
        <div class="check-div">
            <input type="checkbox" class="ui-checkbox image-div" onchange="Chek_image(this)" data-step="step3"  data-valeur=1" data-index="1">
            <label>medium 50-100 sq.ft</label>
        </div>
        <div class="check-div">
            <input type="checkbox" class="ui-checkbox image-div" onchange="Chek_image(this)" data-step="step3"  data-valeur="2" data-index="2">
            <label>large 100-150 sq.ft</label>
        </div>
        <div class="check-div">
            <input type="checkbox" class="ui-checkbox image-div" onchange="Chek_image(this)" data-step="step3"  data-valeur="3" data-index="3">
            <label>extra large > 150 sq.ft</label>
        </div>
        <div class="check-div">
            <input  type="checkbox" class="ui-checkbox image-div" onchange="Chek_image(this)" data-step="step3"  data-valeur="4" data-index="4">
            <label>I'm not sure</label>
        </div>

    </div>




</div>