




<div class="div1" id="div2">

    <div class="title">Discover Your Dream Kitchen: Explore Our Top Kitchen Styles</div>

    <div class="d-flex  flex-wrap justify-content-center" id="contentDiv">
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image1">
            <div class="image-div-desc">description</div>
            <div style="background-image: url('images/image7.jpg') ; background-size: cover;"  class="card_box" alt="image">

                <svg style="text-align: center" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                </svg>
            </div>
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image2">
            <div class="image-div-desc">description</div>
            <div style="background-image: url('images/image7.jpg') ; background-size: cover"  class="card_box" alt="image"></div>
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image3">
            <div class="image-div-desc">description</div>
            <div style="background-image: url('images/image7.jpg') ; background-size: cover"  class="card_box" alt="image"></div>
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image4">
            <div class="image-div-desc">description</div>
            <div style="background-image: url('images/image7.jpg') ; background-size: cover"  class="card_box" alt="image"></div>
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image5">
            <div class="image-div-desc">description</div>
            <div style="background-image: url('images/image7.jpg') ; background-size: cover"  class="card_box" alt="image"></div>
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image6">
            <div class="image-div-desc">description</div>
            <div style="background-image: url('images/image7.jpg') ; background-size: cover"  class="card_box" alt="image"></div>
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image7">
            <div class="image-div-desc">description</div>
            <div style="background-image: url('images/image7.jpg') ; background-size: cover"  class="card_box" alt="image"></div>
        </div>
    </div>



</div>