





<div class="div4" id="div4">

    <div class="title"> What type of remodel are you planning?</div>

    <div class="d-flex  flex-wrap justify-content-center" id="contentDiv">

        <div class="check-div">
            <input type="checkbox" class="ui-checkbox" onchange="Chek_image(this)" data-step="step4"  data-valeur="0">
            <label>Full Remodel. Replace all fixtures and finishes.</label>
        </div>
        <div class="check-div">
            <input type="checkbox" class="ui-checkbox" onchange="Chek_image(this)" data-step="step4"  data-valeur=1">
            <label>Partial Remodel. Only a portion of room</label>
        </div>
        <div class="check-div">
            <input type="checkbox" class="ui-checkbox" onchange="Chek_image(this)" data-step="step4"  data-valeur="2">
            <label>Addition. Add a new room to my home.</label>
        </div>


    </div>




</div>