




<div class="div1" id="div2">

    <div class="title">Discover Your Dream Kitchen: Explore Our Top Kitchen Styles</div>

    <div class="d-flex  flex-wrap justify-content-center" >
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image1">
            <div class="image-div-desc">description</div>
            <img src="images/image1.jpg" class="card_box" alt="image">
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image2">
            <div class="image-div-desc">description</div>
            <img src="images/image2.jpg" class="card_box" alt="image">
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image3">
            <div class="image-div-desc">description</div>
            <img src="images/image3.jpg" class="card_box" alt="image">
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image4">
            <div class="image-div-desc">description</div>
            <img src="images/image4.jpg" class="card_box" alt="image">
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image5">
            <div class="image-div-desc">description</div>
            <img src="images/image5.jpg" class="card_box" alt="image">
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image6">
            <div class="image-div-desc">description</div>
            <img src="images/image6.jpg" class="card_box" alt="image">
        </div>
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" image7">
            <div class="image-div-desc">description</div>
            <img src="images/image7.jpg" class="card_box" alt="image">
        </div>
    </div>



</div>