


<div class="div5" id="div5">

    <div class="title"> Are you planning to relocate any plumbing?</div>

    <div class="d-flex  flex-wrap justify-content-center" id="contentDiv">

        <div class="check-div">
            <input type="checkbox" class="ui-checkbox"  data-step="step5"  data-valeur="0">
            <label>Yes</label>
        </div>
        <div class="check-div">
            <input type="checkbox" class="ui-checkbox"  data-step="step5"  data-valeur=1">
            <label>No</label>
        </div>



    </div>




</div>