




<div class="div1" id="div2">

    <div class="title">Discover Your Dream Kitchen: Explore Our Top Kitchen Styles</div>

    <div class="images-div">
        <div class="image-div" onclick="Chek_image(this)"  data-step="step2"  data-valeur="1" data-typre=" HHHH">ggg</div>
        <div class="image-div"></div>
        <div class="image-div"></div>
        <div class="image-div"></div>
        <div class="image-div"></div>
        <div class="image-div"></div>
        <div class="image-div"></div>
    </div>



</div>