/* From Uiverse.io by mrhyddenn */
.containert {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_box {
    width:250px;
    height: 250px;
    max-width: 256px ;
    max-height: 256px ;
    border-radius: 2px;
    background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
    position: relative;
    box-shadow: 0 25px 50px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: all .3s;
}

.card_box :hover{
    backdrop-filter: ;
}
img:hover {
    filter:  brightness(1.3);
}
.image-div-desc{
    padding: 15px;
    text-align: center;

}




.coleurChek_image {
    filter: grayscale(100%)
}

.iconChek_image{
    text-align:end ;
    width: 100%;position: relative;
    bottom: 290PX;
    left: 25px;
    color: darkgreen !important;
    display: none;
}


/* From Uiverse.io by Jedi-hongbin */
.bottonPreviousstep {
    color: #008457;
    display: flex;
    height: 2em;
    width: 200px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

.bottonPreviousstep > svg {

    margin-right: 5px;
    margin-left: 5px;
    font-size: 60px;
    transition: all 0.4s ease-in;

}

.bottonPreviousstep:hover > svg {
    font-size: 1.2em;
    transform: translateX(-10px);
}

.bottonPreviousstep:hover {
    box-shadow: 9px 9px 23px #d1d1d1, -9px -9px 23px #cbc6c6;
    transform: translateY(-2px);
}
.PrevioussteDiv{
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-flow: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); /* Couleur blanche transparente à 0% */
    /*transition: background-color 0.3s ease; !* Transition douce *!*/
}

.card_box:hover .overlay {
    background-color: rgba(255, 247, 247, 0.34); /* Couleur blanche transparente à 60% au survol */
}



@media (max-width: 1300px){
    .card_box {
        width:200px;
        height: 200px;
        max-width: 206px ;
        max-height: 206px ;
        border-radius: 2px;
        background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
        position: relative;
        box-shadow: 0 25px 50px rgba(0,0,0,0.55);
        cursor: pointer;
        transition: all .3s;
    }
    .title{
        margin-top: 320px;
        width: 100%;
        color: black;
        font-size: 30px;
        font-weight: 640;
        text-align: center;
        opacity: 0;
        transition: 1s;
        /*margin: 20px;*/

    }
    .range{
        display: flex;
        width: 80%;
        height: 150px;
        margin: 30px auto 0px auto;
        align-items: center;
        gap: 0;
    }


    .green_range{
        width: calc((100%/9)*1);
        background: #008457;
        height: 20px;
        border-radius: 10px;
        transition: 0.6s;
        box-shadow: 0px 0px 10px 0.01px  #008457;

    }

    .range_circle{
        margin-left: -20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #008457;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;
        color: azure;
        box-shadow: 0px 0px 10px 0.01px  #008457;
        font-size: 15px;
        letter-spacing: 2px;
    }

    .iconChek_image{
        text-align:end ;
        width: 100%;position: relative;
        bottom: 250PX;
        left: 30px;
        color: darkgreen !important;
        display: none;
    }

}



@media (max-width: 530px){
    .card_box {
        width:130px;
        height: 130px;
        max-width: 136px ;
        max-height: 136px ;
        border-radius: 2px;
        background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
        position: relative;
        box-shadow: 0 25px 50px rgba(0,0,0,0.55);
        cursor: pointer;
        transition: all .3s;
    }

    .title{
        margin-top: 320px;
        width: 100%;
        color: black;
        font-size: 20px;
        font-weight: 640;
        text-align: center;
        opacity: 0;
        transition: 1s;
        /*margin: 20px;*/

    }

    .iconChek_image{
        text-align:end ;
        width: 100%;position: relative;
        bottom: 170PX;
        left: 30px;
        color: darkgreen !important;
        display: none;
    }
}